*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}
ul,
li {
  list-style: none;
}
body {
  font-size: 62.5%;
  list-style-type: none;
  background-color: #0e2440;
  color: #ffff;
  overflow-x: hidden;
}

/* header */
.header {
  width: 100%;
}

header .header-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 6rem;
  margin: 0 auto;
  position: absolute;
  margin: 1rem auto 0;
  left: 0;
  right: 0;
  text-align: center;
  font-weight: bold;
  z-index: 99;
}

header .header-container .logo {
  width: 80px;
  transform: scale(2);
}

header .header-container .social {
  width: 3rem;
}

header .header-container nav .nav-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1.5rem;
}

header .header-container nav .nav-container .nav-item a {
  color: #ffff;
  font-size: 1rem;
}

/* banner */

#main-banner {
  overflow-x: hidden;
}

#main-banner .banner-container {
  width: 100vw;
  height: 100vh;
  background: url('./BANNER-PRINCIPAL.png');
  background-size: cover;
  /* position: relative; */

  background-repeat: no-repeat;
  background-position: center;
}

#main-banner .banner-container .main-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 10%;
  padding-right: 50%;
  text-align: left;
}

#main-banner .banner-container .main-container h1 {
  font-size: 60px;
  width: 450px;
  word-break: break-all;
}

#main-banner .banner-container .main-container span {
  font-size: 18px;
}

#main-banner .banner-container .main-container .main-button {
  margin-top: 100px;
  font-size: 20px;
  word-break: break-all;
  color: #ffff;
  background-color: transparent;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  border-radius: 28px;
  border: 2px solid #d07f57;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  padding: 16px 31px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #d07f57;
  transition: ease all 0.3s;
}

#main-banner .banner-container .main-container .main-button:hover {
  background-color: #d07f57;
}
#main-banner .banner-container .main-container .main-button:active {
  position: relative;
  top: 1px;
}

/* About LP */

#sobre-lp {
  display: flex;
  align-items: center;
  padding: 4rem 8rem;
  gap: 10rem;
  border-top: 6px solid #d07f57;
  border-bottom: 4px solid #ffffff;

  background: url('../assets/BANNER-2.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#sobre-lp .about-lp-text {
  max-width: 60%;
}

#sobre-lp .about-lp-text h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

#sobre-lp .about-lp-text h4 {
  font-size: 15px;
  margin-bottom: 10px;
}

#sobre-lp .about-lp-text p {
  font-size: 15px;
  margin-bottom: 10px;
}

#sobre-lp .about-lp-btn .button {
  font-size: 16px;

  color: #ffff;
  background-color: transparent;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  border-radius: 28px;
  border: 2px solid #d07f57;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  padding: 10px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #d07f57;
  transition: ease all 0.3s;
}

#sobre-lp .about-lp-btn .button:hover {
  background-color: #d07f57;
}

/* terapias */

#terapias {
  display: flex;
  /* padding: 50px; */
}

#terapias .terapias-text {
  padding: 50px;
  text-align: left;
}
#terapias .terapias-text h1 {
  font-size: 40px;
  word-break: break-all;
  max-width: 250px;
}
#terapias .terapias-text p {
  font-size: 15px;
  max-width: 250px;
}

.slideshow-container {
  max-width: 600px;
  /* position: relative; */
  margin: auto;
  display: flex;
}

/* Hide the images by default */
.mySlides {
  /* display: none; */
  padding: 0px;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  /* position: absolute; */
  /* top: 50%; */
  width: auto;
  /* margin-top: -22px; */
  /* padding: 16px; */
  color: white;
  font-weight: bold;
  font-size: 15px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  /* position: absolute; */
  /* bottom: 8px; */
  width: 100%;
  text-align: center;
  z-index: 99;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  /* position: absolute; */
  top: 0;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
