*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}
ul,
li {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  list-style-type: none;
  background-color: #0e2440;
  color: #ffff;
  overflow-x: hidden;
}

/* header */
.header {
  width: 100%;
  padding: 5px;
}

header .header-mobile {
  display: none;
}

header .toggle-nav {
  display: none;
}

header .header-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 6rem;
  margin: 0 auto;
  position: absolute;
  margin: 1rem auto 0;
  left: 0;
  right: 0;
  text-align: center;
  font-weight: bold;
  z-index: 99;
}

header .header-container .logo {
  width: 80px;
  transform: scale(2);
}

header .header-container .social {
  width: 3rem;
}

header .header-container nav .nav-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1.5rem;
}

header .header-container nav .nav-container .nav-item a {
  color: #ffff;
  font-size: 1rem;
}

header .header-container div {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

/* banner */

#main-banner {
  overflow-x: hidden;
}

#main-banner .banner-container {
  width: 100vw;
  height: 100vh;
  background: url('./BANNER-PRINCIPAL.png');
  background-size: cover;
  /* position: relative; */

  background-repeat: no-repeat;
  background-position: center;
}

#main-banner .banner-container .main-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 10%;
  padding-right: 50%;
  text-align: left;
}

#main-banner .banner-container .main-container h1 {
  font-size: 60px;
  width: 450px;
  word-break: break-all;
}

#main-banner .banner-container .main-container span {
  font-size: 18px;
}

#main-banner .banner-container .main-container .main-button {
  margin-top: 100px;
  font-size: 20px;
  word-break: break-all;
  color: #ffff;
  background-color: transparent;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  border-radius: 28px;
  border: 2px solid #d07f57;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  padding: 16px 31px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #d07f57;
  transition: ease all 0.3s;
}

#main-banner .banner-container .main-container .main-button:hover {
  background-color: #d07f57;
}
#main-banner .banner-container .main-container .main-button:active {
  position: relative;
  top: 1px;
}

/* About LP */

#sobre-lp {
  display: flex;
  align-items: center;
  padding: 4rem 8rem;
  gap: 10rem;
  border-top: 6px solid #d07f57;
  border-bottom: 4px solid #ffffff;

  background: url('../assets/BANNER-2.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#sobre-lp .about-lp-text {
  max-width: 60%;
}

#sobre-lp .about-lp-text h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

#sobre-lp .about-lp-text h4 {
  font-size: 15px;
  margin-bottom: 10px;
}

#sobre-lp .about-lp-text p {
  font-size: 15px;
  margin-bottom: 10px;
}

#sobre-lp .about-lp-btn .button {
  font-size: 16px;

  color: #ffff;
  background-color: transparent;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  border-radius: 28px;
  border: 2px solid #d07f57;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  padding: 10px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #d07f57;
  transition: ease all 0.3s;
}

#sobre-lp .about-lp-btn .button:hover {
  background-color: #d07f57;
}

/* terapias */

#terapias {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  position: relative;
  width: 100%;
  /* padding: 50px; */
}

#terapias .terapias-text {
  padding: 90px;
  text-align: left;
  width: 40%;
  z-index: 1;
  background-color: #000;
}
#terapias .terapias-text h1 {
  font-size: 40px;
  word-break: break-all;
  max-width: 260px;
}
#terapias .terapias-text p {
  font-size: 15px;
  max-width: 500px;
}
/*SLIDE*/
#terapias .swiper-container {
  width: 60%;
}

#terapias .swiper-wrapper {
  display: flex;
  align-items: center;
  gap: 0;
  justify-content: flex-start;
  z-index: -1;
  margin: 0 auto;
}

#terapias .swiper-slide {
  max-width: 270px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#terapias .swiper-wrapper img {
  width: 280px;
  display: block;
  object-fit: cover;
}

#terapias .swiper-wrapper span {
  position: absolute;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
}

#terapias .arrow {
  z-index: 99;
  position: absolute;
  right: 0;
}

#terapias .arrow img,
#terapias .arrow-prev img {
  width: 95px;
  cursor: pointer;
}

#terapias .arrow-prev {
  z-index: 99;
  position: absolute;
  left: 500px;
}

#terapias .arrow-prev img {
  transform: rotate(180deg);
}

/*Etapas*/
#etapas-consulta {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #ffff;
  align-items: center;
  justify-content: space-around;
}

#etapas-consulta h1 {
  color: #0e2440;
  font-size: 50px;
  max-width: 300px;
}

#etapas-consulta button {
  margin-top: 80px;
  font-size: 20px;
  word-break: break-all;
  color: #000;
  background-color: transparent;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  border-radius: 28px;
  border: 2px solid #d07f57;
  display: inline-block;
  cursor: pointer;
  padding: 16px 31px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #d07f57;
  transition: ease all 0.3s;
}

#etapas-consulta button:hover {
  background-color: #d07f57;
}

#etapas-consulta p {
  color: #000;
}

#etapas-consulta .etapas-quadros {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

#etapas-consulta .etapas-quadros .quadro {
  display: flex;
  align-items: center;
  max-width: 600px;
  height: 200px;
  background-color: #ececec;
  padding: 10px;
  border-radius: 28px 0 0 28px;
}

#etapas-consulta .etapas-quadros .quadro h1 {
  font-size: 150px;
  padding: 20px;
}

#etapas-consulta .etapas-quadros .quadro p {
  font-size: 16px;
  padding: 20px;
}

/* ABA SOBRE */

#main-about {
  width: 100vw;
  height: 350vh;
  background-image: url('../assets/BANNER-PROFISSIONAIS.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

#main-about .about-01,
#main-about .about-02 {
  width: 100vw;
  height: 100vh;
  display: flex;
  padding: 100px;
}

#main-about .about-01 div {
  width: 40vw;
  height: 100vh;
  margin-top: 90px;
}

#main-about .about-01 div h1 {
  font-size: 40px;
  margin-bottom: 5px;
  margin-left: 80px;
}

#main-about .about-01 div p {
  font-size: 16px;
  margin-bottom: 5px;
}

#main-about .about-02 div {
  width: 50vw;
  height: 100vh;
  margin-top: 580px;
  margin-left: 620px;
}

#main-about .about-02 div h1 {
  font-size: 40px;
  margin-bottom: 5px;
}

#main-about .about-02 div p {
  font-size: 16px;
  margin-bottom: 5px;
}

/*DEPOIMENTOS*/

#testimonials {
  max-height: 100vw;
  padding: 100px;
  background-image: url('../assets/BANNER-2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: #d07f57 4px solid;
}

.swiper-wrapper-test {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

#testimonials h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #fff;
  font-size: 40px;
}

#testimonials .container {
  margin-left: 0;
  margin-right: 0;
  max-height: 50rem;
}

#testimonials header {
  margin-bottom: 0;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

#testimonials blockquote {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-radius: 0.25rem;
  background-color: transparent;
  background-color: #ececec;
  border: 4px solid #d07f57;
}

#testimonials blockquote h3 {
  text-align: center;
  padding: 2rem;
}

#testimonials blockquote div {
  position: relative;
  margin: 0 auto;
  text-align: center;
  border-radius: 5%;
}

/*footer*/

footer {
  display: flex;
  width: 100vw;
  height: 50vh;
  align-items: center;
  justify-content: center;
  padding: 50px;
  border-top: #fff 4px solid;
  margin: 0 auto;
  gap: 20px;
}

footer .footer-msg {
  width: 200px;
  margin-right: 100px;
}

footer .footer-msg h1 {
  font-size: 40px;
}

footer .footer-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 305px;

  background-color: #d07f57;
  height: 200px;
  border-radius: 28px;
  border: 4px solid #fff;
  text-align: center;
}

footer .footer-item a {
  color: #fff;
  text-decoration: none;
  transition: ease all 0.5s;
}

footer .footer-item a:hover {
  color: #0e2440;
}

footer img {
  width: 25%;
  color: #fff;
  -webkit-filter: invert(100%); /* Safari/Chrome */
  filter: invert(100%);
}

/* Responsivo */

/* Extra large devices: 1200 >  */

@media only screen and (max-width: 1200px) {
  header .header-container {
    display: none;
  }

  header .header-mobile {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    padding: 0 50px;
    left: 0;
    right: 0;
    z-index: 99;
  }

  header .header-mobile .logo {
    width: 80px;
    transform: scale(2);
  }

  header .header-mobile .toggle {
    filter: invert(100%);
    cursor: pointer;
  }

  header .header-mobile .toggle.clicked {
    border: 2px solid #d07f57;
    padding: 1px;
  }

  /* TOOGLE NAV*/

  .toggle-nav {
    display: none;
    align-items: center;
    justify-content: space-around;
    border: 4px solid #d07f57;
    margin: 0 auto;
    position: absolute;
    background-color: #0e2440;
    width: 100vw;
    right: 0;
    transition: ease all 0.5s;
  }

  .toggle-nav .nav-container {
    margin: 20px;
  }

  .toggle-nav .nav-container .nav-item {
    padding: 5px;
  }

  .toggle-nav .nav-container .nav-item a {
    color: #fff;
  }

  .toggle-nav .social {
    display: flex;
    flex-direction: column;
  }

  .toggle-nav .social a img {
    width: 50px;
  }
}

/* IPAD */
@media only screen and (max-width: 1024px) {
  /* banner */

  #main-banner .banner-container .main-container {
    padding-top: 20%;
    padding-right: 40%;
  }

  /* #main-banner .banner-container .main-container h1 {
    font-size: 60px;
    width: 450px;
    word-break: break-all;
  }

  #main-banner .banner-container .main-container span {
    font-size: 18px;
  } */

  #main-banner .banner-container .main-container .main-button {
    margin-top: 80px;
    font-size: 20px;
    padding: 16px 20px;
  }

  /* About LP */

  #sobre-lp {
    padding: 2rem 4rem;
    gap: 5rem;
  }
  /* 
  #sobre-lp .about-lp-text {
    max-width: 60%;
  } */

  /* #sobre-lp .about-lp-text h1 {
    font-size: 30px;
    margin-bottom: 10px;
  }

  #sobre-lp .about-lp-text h4 {
    font-size: 15px;
    margin-bottom: 10px;
  }

  #sobre-lp .about-lp-text p {
    font-size: 15px;
    margin-bottom: 10px;
  } */

  /* #sobre-lp .about-lp-btn .button {
    font-size: 16px;

    color: #ffff;
    background-color: transparent;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    border-radius: 28px;
    border: 2px solid #d07f57;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    padding: 10px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #d07f57;
    transition: ease all 0.3s;
  }

  #sobre-lp .about-lp-btn .button:hover {
    background-color: #d07f57;
  } */

  /* terapias */

  #terapias .terapias-text {
    padding: 50px;
  }

  #terapias .terapias-text h1 {
    font-size: 30px;
    word-break: break-all;
    max-width: 180px;
  }
  #terapias .terapias-text p {
    font-size: 15px;
    max-width: 300px;
  }

  /*SLIDE*/

  #terapias .swiper-wrapper img {
    width: 250px;
  }

  #terapias .arrow {
    z-index: 99;
    position: absolute;
    right: 0;
  }

  #terapias .arrow img,
  #terapias .arrow-prev img {
    width: 65px;
  }

  #terapias .arrow-prev {
    z-index: 99;
    position: absolute;
    left: 350px;
  }

  /*Etapas*/

  #etapas-consulta h1 {
    color: #0e2440;
    font-size: 40px;
    max-width: 300px;
  }

  #etapas-consulta button {
    margin-top: 60px;
    font-size: 16px;
  }

  #etapas-consulta .etapas-quadros {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  #etapas-consulta .etapas-quadros .quadro {
    display: flex;
    align-items: center;
    max-width: 500px;
  }
  /* 
  #etapas-consulta .etapas-quadros .quadro h1 {
    font-size: 150px;
    padding: 20px;
  }

  #etapas-consulta .etapas-quadros .quadro p {
    font-size: 16px;
    padding: 20px;
  } */

  /*footer*/

  footer {
    width: 100vw;
    height: 60vh;
    padding: 40px;
    gap: 20px;
  }

  footer .footer-msg {
    width: 200px;
    margin-right: 20px;
  }

  footer .footer-msg h1 {
    font-size: 30px;
  }

  footer .footer-item {
    width: 300px;
    height: 200px;
  }

  /* footer img {
    width: 25%;
    color: #fff;
    -webkit-filter: invert(100%);
    filter: invert(100%);
  } */
}

/* CELULAR */

@media only screen and (max-width: 650px) {
  header .header-mobile .logo {
    width: 60px;
    transform: scale(2);
  }

  .toggle-nav {
    margin: 50px auto;
  }

  /* banner */

  #main-banner .banner-container {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  #main-banner .banner-container .main-container {
    padding-top: 30%;
    padding-left: 10px;
  }

  #main-banner .banner-container .main-container h1 {
    font-size: 40px;
    width: 330px;
    word-break: break-all;
    padding-left: 30px;
  }

  #main-banner .banner-container .main-container span {
    font-size: 16px;
    padding-left: 30px;
  }

  #main-banner .banner-container .main-container .main-button {
    margin-top: 40px;
    font-size: 15px;
    padding: 10px 30px;
  }
  /* * About LP */

  #sobre-lp {
    padding: 3rem;
    gap: 5rem;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }

  #sobre-lp .about-lp-text {
    max-width: 100%;
  }

  #sobre-lp .about-lp-text h1 {
    font-size: 30px;
  }

  #sobre-lp .about-lp-btn .button {
    font-size: 20px;
    padding: 12px;
  }

  /* terapias */
  #terapias {
    flex-direction: column;
  }

  #terapias .terapias-text {
    padding: 50px;
    width: 100vw;
  }

  #terapias .terapias-text h1 {
    font-size: 30px;
    width: 100%;
    margin-bottom: 10px;
  }
  #terapias .terapias-text p {
    font-size: 16px;
    width: 100%;
  }

  /*SLIDE*/

  #terapias .swiper-wrapper img {
    width: 250px;
  }

  #terapias .arrow {
    z-index: 99;
    position: absolute;
    right: 0;
    bottom: 250px;
  }

  #terapias .arrow img,
  #terapias .arrow-prev img {
    width: 60px;
  }

  #terapias .arrow-prev {
    z-index: 99;
    position: absolute;
    left: 0;
    bottom: 250px;
  }

  /*Etapas*/

  #etapas-consulta {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  #etapas-consulta h1 {
    color: #0e2440;
    font-size: 30px;
    max-width: 500px;
    margin-top: 20px;
  }

  #etapas-consulta button {
    margin-top: 30px;
    font-size: 15px;
  }

  #etapas-consulta .etapas-quadros {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  #etapas-consulta .etapas-quadros .quadro {
    display: flex;
    align-items: center;
    max-width: 400px;
    justify-content: center;
  }

  #etapas-consulta .etapas-quadros .quadro h1 {
    font-size: 120px;
    padding: 20px;
  }

  #etapas-consulta .etapas-quadros .quadro p {
    font-size: 15px;
    padding: 20px;
  }

  /*DEPOIMENTOS*/

  /* #testimonials {
  max-height: 100vw;
  padding: 100px;
  background-image: url('../assets/BANNER-2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: #d07f57 4px solid;
} */

  .swiper-wrapper-test {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }

  /*footer*/

  footer {
    width: 100vw;
    height: 100vh;
    padding: 40px;
    gap: 20px;
    flex-direction: column;
  }

  footer .footer-msg {
    width: 200px;
    margin-right: 0px;
  }

  footer .footer-msg h1 {
    font-size: 20px;
  }
}
